* {
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  font-family: "Landmark Dimensional A", "Landmark Dimensional B"; }

* {
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  font-family: "Landmark Dimensional A", "Landmark Dimensional B"; }

.layout {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
